  .wrapper {
  /*border: 1px solid #124F57;*/
  /*border-width: 20px;*/
  font-family: 'Josefin Sans', Verdana, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  width: 90%;
  /*width: 800px;*/
  /*width: 370px;*/
  margin: 20px auto;
  /*border-radius: 5px;*/
}




.header {
  border-bottom: 2px solid #fff;
  padding: 10px;
  background-color: #124F57;
  color: #fff;
}

.fa-globe{
  color: #A2F8FA;
  /*font-size: px;*/
  padding-right: 7px;
}
.rotate{
  color: #02BFC9;
  /*font-size: px;*/
  padding-right: 20px;
  /*transition-timing: ease-in-out;*/
  transform: rotateX(1080deg);
  transition-duration: 5s;
}



.scroll{/**  RG  scroll bar 6/21  **/
  /*height: 100px;*/
  overflow-y: auto;
  background-color: #124F57;
}

::-webkit-scrollbar {
  display: none;
}

.contentcontainer {
  padding: 40px;
  height: 400px;
  /*padding: 20px;
  height: 450px;*/
  font-size: 18px;
  background-color: #124F57;
}

.fa.fa-question-circle-o{/*  RG  6/22 */
  color: #A2F8FA;
  font-size: 40px;
  padding-right: 20px;
}

.messagebox {
  border-top: 2px solid #fff;
  padding: 10px 20px 10px 20px;
  margin: auto;
}

.chatcontent {
  background-color: #53918B;
  color: #fff;
  padding: 15px;
  /*display: none;*/
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 1px;
  text-align: left;
  margin: 15px;
  line-height: 1.5;
  /*display: block;*/
}

.newmessage {
  height: 35px;
  width: 165px;
  font-size: 18px;
  vertical-align: middle;
  border-radius: 5px;
  text-indent: 10px;
  background-color: #FFF;
  border-style: none;
  /*border: 1px solid #fff;*/
  color: #124F57;
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: #darkgray;
}

.sendbutton {
  height: 35px;
  width: 45px;
  border: 1px solid #124F57;
  border-right: : none;
  border-radius: 3px;
  vertical-align: middle;
  margin-left: 10px;
  cursor: pointer;
  color: #124F57;
}

.ghimage {
  height: 100px;
  width: auto;
  margin: 0;
  border-radius: 7px;
  padding: 1px;
}

.gifimage {
  max-width: 200px;
  margin: 0;
  border-radius: 7px;
  padding: 0;
}

.weatherimg {
  background-color: #53918B;
  /*display: none;*/
  border-radius: 7px;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.urllink {
  text-decoration: none;
  color: #456E6A;
}

.commandstyle {
  font-weight: bold;
  background-color: #124F57;
}



button:active {
    background-color: #02BFC9;
}

footer {
  background-color: #124F57;
}


@media (max-width: 567px) {
  .chatcontent {
    width: 70%;
    margin: 15px auto;
  }
  .contentcontainer {
    font-size: 14px;
  }
  .newmessage {
    height: 25px;
    font-size: 14px;
  }
  .sendbutton {
    height: 25px;
  }
  .wrapper {
    font-size: 32px;
  }
}


@media (min-width: 568px) and (max-width: 749px) {
  .chatcontent {
    width: 60%;
    margin: 15px auto;
  }
}

@media (min-width: 750px) and (max-width: 1024px) {
  .chatcontent {
    width: 50%;
    margin: 15px auto;
  }
}

@media (min-width: 1025px) {
  .chatcontent {
    width: 40%;
    margin: 15px auto;
  }
  .gifimage {
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
